.about-bg {
  background-color: #18181b;
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.capsule-border {
  position: relative;
  padding: 30px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.capsule-border h1 {
  color: #fff;
  font-size: 3rem;
  z-index: 3;
  margin: 0;
}

/* Capsule Outline Lines */
.capsule-border::before,
.capsule-border::after {
  content: "";
  position: absolute;
  border-radius: 100px;
  border: 2px solid rgba(255, 255, 255, 0.25);
  width: 280px;
  height: 90px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Outer blurred border */
.capsule-border::after {
  width: 320px;
  height: 110px;
  border-color: rgba(255, 255, 255, 0.1);
}
