
.hero-subtitle {
  font-size: 1.1rem;
  color: #fff;
  margin-top: 10px;
}

/* --- CONTACT INFO --- */
.contact-section {
  padding: 80px 0;
}

.contact-card {
  background: #181818;
    border: 1px solid #d0ff71; 
    height: 100%;
  padding: 30px 20px;
  border-radius: 15px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease;
}

.contact-card:hover {
  background: #222;
  transform: translateY(-8px);
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.4);
}

.contact-icon {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
  filter: brightness(0) invert(1);
}

.contact-card h5 {
  color: #d0ff71;
  margin-bottom: 8px;
  font-weight: 600;
}

.contact-card p {
  color: #ddd;
  margin: 0;
  font-size: 0.95rem;
}

/* --- MAP SECTION --- */
.map-section {
  margin-top: 60px;

}

.map-section iframe {
  display: block;
  width: 100%;
  height: 450px;
  border: none;
}

/* --- RESPONSIVE --- */
@media (max-width: 768px) {
  .contact-hero {
    height: 45vh;
  }

  .capsule-border h1 {
    font-size: 2rem;
  }

  .contact-card {
    padding: 25px 15px;
  }
}
