@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');
html,body{
    background-color:#0E0F11 !important;
font-family: "Momo Trust Display", sans-serif !important;
overflow-x: hidden !important;
}
.custom-color{
    color: #d0ff71;
}
.bg {
  background: linear-gradient(
    180deg,
    #18181b 0%,
    rgba(201, 255, 20, 0.20) 100%
  );
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.capsule-border h1 {
  color: #fff;
  font-size:3rem;
  z-index: 3;
  margin: 0;
}

