@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');
html,body{
    background-color:#0E0F11 !important;
font-family: "Momo Trust Display", sans-serif !important;
overflow-x: hidden !important;
}
.custom-color{
    color: #d0ff71;
}
.bg {
  background-color: #18181b;
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.capsule-border {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.capsule-border h1 {
  color: #fff;
  font-size:4rem;
  z-index: 3;
  margin: 0;
}

/* Capsule Outline Lines */
.capsule-border::before,
.capsule-border::after {
  content: "";
  position: absolute;
  border-radius: 100px;
  border: 2px solid #d0ff71;
  width: 500px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) 
}
