@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

html,
body {
  background-color: black !important;
  font-family: "Momo Trust Display", sans-serif !important;
  overflow-x: hidden !important;
}

.custom-color {
  color: #E2FC7A !important;
}

.bg {
  background: #1C1D1F;
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.capsule-border h1 {
  color: #E2FC7A;
  font-size: 4rem;
  z-index: 3;
  margin: 0;
}

/* Shared Service & About Section Styles */
.our-story-section {
  padding: 80px 0;
  background-color: transparent;
}
.section-title {
  font-size: clamp(24px, 2.2vw, 48px) !important;
  font-weight: 700;
  color: #E2FC7A !important;
  line-height: 1.2;
  margin-bottom: 20px;
}

.story-text {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #e0e0e0 !important;
  margin-bottom: 18px;
}

.about-img {
  width: 100%;
  border-radius: 12px;
  filter: drop-shadow(0px 0px 25px rgba(215, 255, 117, 0.15));
  transition: 0.4s ease-in-out;
}

.about-img:hover {
  transform: scale(1.03);
}
.background {
  background-color: #E2FC7A;
  font-weight: bold;
  height: 400px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;  /* vertical center */
  align-items: center;      /* horizontal center */
  text-align: center;
}
.big-heading{
  font-size: 80px;
  display: swap;
}
@media (max-width: 768px) {
  .section-title {
    font-size: 2.2rem;
  }
}