@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');
html,body{
    background-color: black !important;
font-family: "Momo Trust Display", sans-serif !important;
}
.custom-color{
    color: #A1FF23;
}
