@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');
html,body{
    background-color:#0E0F11 !important;
font-family: "Momo Trust Display", sans-serif !important;
}
.custom-color{
    color: #C2E66A;
}
